*{margin: 0;padding: 0;}
.hide{display: none;}
header{background: url(../images/banner.jpg) no-repeat;background-size: cover;background-attachment: fixed;background-position: center;height: 620px;}
.logo{background: url(../images/logo.png)no-repeat;background-size:cover;width:201px;height:82px;margin:25px 0px;float:left;}
nav{margin:0px auto;width:60%;height:130px;}
nav li{list-style: none;float: left;margin-left: 3.5%;margin-top:54px;}
nav li a{text-decoration: none;color: #999;font-size: 0.8em;transition:all 0.2s, ease-out 0.2s;}
#menu{width:100%;position: relative;right:-30%;}
.toufang{width:115px;height:38px;color:#3F9;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;border:#3F9 1px solid;border-radius:5px;float:left;font-size:14px;transition:all 0.5s, ease-out 0.5s;}
nav li a:hover{color: #fff;}
nav .tf{margin:-10px auto;width:115px;height:38px;color:#3F9;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;border:#3F9 1px solid;border-radius:5px;transition:all 0.5s, ease-out 0.5s; }
nav .tf:hover{width:115px;height:38px;color:#333;background:#3F9;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;border:#3F9 1px solid;border-radius:5px;}
.gg{margin:180px auto;width:auto;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;line-height:40px;letter-spacing:6px;font-size:22px;color:#FFF;}
.sp{font-size: 34px;}
hr{width: 80%;margin: 0 auto;}
.greenX{margin:-140px auto;width:40px;height:3px;background:#3C6;}
main{margin:0px auto;width:1000px;height:600px;}
.greenX1{margin:10px 0px;width:40px;height:3px;background:#3C6;}
.article1{margin-top:230px;float:left;letter-spacing:1px;line-height:40px;color:#999;opacity:0;}
main article span{font-size:24px;color:#000;}
.dh1{width:568px;height:530px;margin-top:30px;background: url(../images/1-1.jpg);float: right;background-size:cover;opacity:0;}
.article2{position:absolute;right:22%;font-size:16px;margin-top:180px;line-height:50px;/*margin-left:40%;*/color:#999;z-index:20;float: right;opacity:0;}
.dh2{margin-top:30px;background:url(../images/2.jpg);background-size:cover;width:586px;height:530px;float:left;opacity:0;}
.greenX2{margin:10px 0px;width:40px;height:3px;background:#3C6;}
.article3{margin-top:230px;float:left;letter-spacing:1px;line-height:40px;color:#999;opacity:0;}
.greenX3{margin:10px 0px;width:40px;height:3px;background:#3C6;}
.dh3{width:568px;height:530px;margin-top:30px;background: url(../images/3.jpg);float: right;background-size:cover;opacity:0;}
.article4{position:absolute;right:22%;font-size:16px;margin-top:180px;line-height:50px;float:right;color:#999;z-index:20;opacity:0;}
.dh4{margin-top:30px;background:url(../images/4.jpg);background-size:cover;width:586px;height:530px;float:left;opacity:0;}
.greenX4{margin:10px 0px;width:40px;height:3px;background:#3C6;}
.article5{margin-top:230px;float:left;letter-spacing:1px;line-height:40px;color:#999;opacity:0;}
.greenX5{margin:10px 0px;width:40px;height:3px;background:#3C6;}
.dh5{width:568px;height:530px;margin-top:30px;background: url(../images/5.jpg);float: right;background-size:cover;opacity:0;}
.dh1-1,.dh1-2,.dh1-3,.dh1-4,.dh1-5{display:none;}




.dh1{
	margin-top:30px;
	background:url(../images/1-1.jpg);
	background-size:cover;
	width:586px;
	height:530px;
	float:right;
	opacity:0;
}

.animated1 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghuaa {
	animation-name:donghuaa;
	-webkit-animation-name:donghuaa;
}
@-webkit-keyframes donghuaa{
	0%{
	margin-top:80px;
	opacity:0;
	}
	100%{
	margin-top:30px;
	opacity:1;
	}
	
}

/*第二动画*/


/*.dh1-1{position:absolute;background:url(../images/dh1-1.png) no-repeat;background-size:contain;width:286px;height:84px;margin-top:60px;margin-left:250px;opacity:0;}
.animated1-1 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		animation-delay:0.5s;
		-webkit-animation-delay:0.5s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua1-1 {
	animation-name:donghua1-1;
	-webkit-animation-name:donghua1-1;
}
@-webkit-keyframes donghua1-1{
	0%{
	margin-left:220px;
	opacity:0;
	}
	100%{
	margin-left:250px;
	opacity:1;
	}
}*/

/*.dh1-1{
	position:absolute;
	background:url(../images/dh1-1.png) no-repeat;
	background-size:contain;
	width:286px;
	height:84px;
	margin-top:60px;
	margin-left:250px;
	opacity:0;
}
.animated1-1 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		animation-delay:0.5s;
		-webkit-animation-delay:0.5s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua1-1 {
	animation-name:donghua1-1;
	-webkit-animation-name:donghua1-1;
}
@-webkit-keyframes donghua1-1{
	0%{
	margin-left:220px;
	opacity:0;
	}
	100%{
	margin-left:250px;
	opacity:1;
	}
}

.dh1-2{
	position:absolute;
	background:url(../images/dh1-2.png) no-repeat;
	background-size:contain;
	width:214px;
	height:84px;
	margin-top:160px;
	margin-left:350px;
	opacity:0;
}
.animated1-2 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		animation-delay:1s;
		-webkit-animation-delay:1s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua1-2 {
	animation-name:donghua1-2;
	-webkit-animation-name:donghua1-2;
}
@-webkit-keyframes donghua1-2{
	0%{
	margin-left:320px;
	opacity:0;
	}
	100%{
	margin-left:350px;
	opacity:1;
	}
}

.dh1-3{
	position:absolute;
	background:url(../images/dh1-3.png) no-repeat;
	background-size:contain;
	width:198px;
	height:84px;
	margin-top:200px;
	opacity:0;
}
.animated1-3 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua1-3 {
	animation-name:donghua1-3;
	-webkit-animation-name:donghua1-3;
}
@-webkit-keyframes donghua1-3{
	0%{
	margin-left:30px;
	opacity:0;
	}
	100%{
	margin-left:0px;
	opacity:1;
	}
}

.dh1-4{
	position:absolute;
	background:url(../images/dh1-4.png) no-repeat;
	background-size:contain;
	width:132px;
	height:84px;
	margin-top:260px;
	margin-left:400px;
	opacity:0;
}
.animated1-4 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		animation-delay:2s;
		-webkit-animation-delay:2s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua1-4 {
	animation-name:donghua1-4;
	-webkit-animation-name:donghua1-4;
}
@-webkit-keyframes donghua1-4{
	0%{
	margin-left:370px;
	opacity:0;
	}
	100%{
	margin-left:400px;
	opacity:1;
	}
}

.dh1-5{
	position:absolute;
	background:url(../images/dh1-5.png) no-repeat;
	background-size:contain;
	width:206px;
	height:100px;
	margin-top:370px;
	margin-left:100px;
	opacity:0;
}
.animated1-5 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		animation-delay:2.5s;
		-webkit-animation-delay:2.5s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua1-5 {
	animation-name:donghua1-5;
	-webkit-animation-name:donghua1-5;
}
@-webkit-keyframes donghua1-5{
	0%{
	margin-left:130px;
	opacity:0;
	}
	100%{
	margin-left:100px;
	opacity:1;
	}
}

/*图片2*/
/*.dh2{
	margin-top:30px;
	background:url(../images/2-bg.jpg);
	background-size:cover;
	width:586px;
	height:530px;
	float:left;
	opacity:0;
}

.animated2 {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghuab {
	animation-name:donghuab;
	-webkit-animation-name:donghuab;
}
@-webkit-keyframes donghuab{
	0%{
	margin-top:80px;
	opacity:0;
	}
	100%{
	margin-top:30px;
	opacity:1;
	}
	
}

.dh2-1{
	position:absolute;
	background:url(../images/2-1.png);
	background-size:cover;
	width:92px;
	height:92px;
	margin-top:70px;
	margin-left:180px;
}
.animated2-1 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.1s;
		-webkit-animation-delay:0.1s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-1 {
	animation-name:donghua2-1;
	-webkit-animation-name:donghua2-1;
}
@-webkit-keyframes donghua2-1{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:70px;
	margin-left:180px;
	}
}

.dh2-2{
	position:absolute;
	background:url(../images/2-2.png);
	background-size:cover;
	width:92px;
	height:92px;
	margin-top:70px;
	margin-left:300px;
}
.animated2-2 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.2s;
		-webkit-animation-delay:0.2s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-2 {
	animation-name:donghua2-2;
	-webkit-animation-name:donghua2-2;
}
@-webkit-keyframes donghua2-2{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:70px;
	margin-left:300px;
	}
}

.dh2-3{
	position:absolute;
	background:url(../images/2-3.png);
	background-size:cover;
	width:116px;
	height:116px;
	margin-top:150px;
	margin-left:380px;
}
.animated2-3 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.3s;
		-webkit-animation-delay:0.3s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-3 {
	animation-name:donghua2-3;
	-webkit-animation-name:donghua2-3;
}
@-webkit-keyframes donghua2-3{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:150px;
	margin-left:380px;
	}
}

.dh2-4{
	position:absolute;
	background:url(../images/2-4.png);
	background-size:cover;
	width:92px;
	height:92px;
	margin-top:280px;
	margin-left:390px;
}
.animated2-4 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.4s;
		-webkit-animation-delay:0.4s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-4 {
	animation-name:donghua2-4;
	-webkit-animation-name:donghua2-4;
}
@-webkit-keyframes donghua2-4{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:280px;
	margin-left:390px;
	}
}

.dh2-5{
	position:absolute;
	background:url(../images/2-5.png);
	background-size:cover;
	width:92px;
	height:92px;
	margin-top:370px;
	margin-left:300px;
}
.animated2-5 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.5s;
		-webkit-animation-delay:0.5s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-5 {
	animation-name:donghua2-5;
	-webkit-animation-name:donghua2-5;
}
@-webkit-keyframes donghua2-5{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:370px;
	margin-left:300px;
	}
}

.dh2-6{
	position:absolute;
	background:url(../images/2-6.png);
	background-size:cover;
	width:114px;
	height:116px;
	margin-top:365px;
	margin-left:165px;
}
.animated2-6 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-6 {
	animation-name:donghua2-6;
	-webkit-animation-name:donghua2-6;
}
@-webkit-keyframes donghua2-6{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:365px;
	margin-left:165px;
	}
}

.dh2-7{
	position:absolute;
	background:url(../images/2-7.png);
	background-size:cover;
	width:92px;
	height:92px;
	margin-top:280px;
	margin-left:90px;
}
.animated2-7 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.7s;
		-webkit-animation-delay:0.7s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-7 {
	animation-name:donghua2-7;
	-webkit-animation-name:donghua2-7;
}
@-webkit-keyframes donghua2-7{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:280px;
	margin-left:90px;
	}
}

.dh2-8{
	position:absolute;
	background:url(../images/2-8.png);
	background-size:cover;
	width:92px;
	height:92px;
	margin-top:150px;
	margin-left:90px;
}.animated2-8 {
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:0.8s;
		-webkit-animation-delay:0.8s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
}
.donghua2-8 {
	animation-name:donghua2-8;
	-webkit-animation-name:donghua2-8;
}
@-webkit-keyframes donghua2-8{
	0%{
	margin-top:220px;
	margin-left:240px;
	opacity:0;
	}
	100%{
	margin-top:150px;
	margin-left:90px;
	}
}
*/


.nav {
  position: absolute;
  z-index: 100;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.nav--active .nav {
  opacity: 1;
  background-color: #333;
}
.nav__list {
  margin-top:100px;
  padding:0px;
}
.nav__item {
	display:-webkit-box;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	height:50px;
  list-style-type: none;
	transition:all 0.5s, ease-out 0.5s;
}
.nav__item:hover {
	font-size:20px;
	height:50px;
	background:#3C6;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: #FFFFFF;
}
/* Default navigation icon */
.nav__trigger {
  display: block;
  position: absolute;
  width: 30px;
  height: 25px;
  right: 15px;
  top: 40px;
  z-index: 200;
}
.nav--active .nav__trigger {
  opacity: 0.5;
}
.nav__icon {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 4px;
  background-color: #FFFFFF;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.nav__icon:before,
.nav__icon:after {
  content: '';
  display: block;
  width: 22px;
  height: 4px;
  position: absolute;
  background: #FFFFFF;
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  transition-property: margin, transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.nav__icon:before {
  margin-top: -8px;
}
.nav__icon:after {
  margin-top: 8px;
}
/* Don't nest if you don't have to. */

/**
* Style #4
*/
.style-4 .nav {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.style-4 .nav--active .nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.style-4 .nav--active .nav__icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.style-4 .nav__link {
  opacity: 0;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.style-4 .nav--active .nav__link {
  opacity: 1;
}







footer{height:300px;background:#28292b;}

footer section{width:1000px;height:280px;margin:10px auto;}

footer a{text-decoration: none;color: #999;transition:all 0.2s, ease-out 0.2s;}

footer a:hover{color: #fff;}

.ftdiv1{margin-top:50px;width:650px;float:left;}

.ftdiv2{margin-top:40px;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;border-left:#434343 1px solid ;border-right:#434343 1px solid ;width:340px;height:140px;float:right;}

.ftdiv3{margin-top:40px;width:100%;height:70px;border-top:#434343 1px solid ;float:left;}

.ftdiv1-a{margin-right:60px;float:left;}

.ftdiv1-b{margin-top:20px;margin-right:60px;float:left;}

.ftdiv1-1-1{margin-top:5px;background:url(../images/icon-1.png);width:20px;height:24px;float:left;}

.ftdiv1-1-2{width:200px;margin-left:20px;line-height:30px;letter-spacing:1px;color:#999;float:left;}

.ftdiv1-2-1{margin-top:6px;background:url(../images/icon-2.png);width:20px;height:20px;float:left;}

.ftdiv1-2-2{width:200px;margin-left:20px;line-height:30px;letter-spacing:1px;color:#999;float:left;}

.ftdiv1-3-1{margin-top:6px;background:url(../images/icon-3.png);width:20px;height:20px;float:left;}

.ftdiv1-3-2{width:200px;margin-left:20px;line-height:30px;letter-spacing:1px;color:#999;float:left;}

.ftdiv1-4-1{margin-top:9px;background:url(../images/icon-4.png);width:20px;height:14px;float:left;}

.ftdiv1-4-2{width:200px;margin-left:20px;line-height:30px;letter-spacing:1px;color:#999;float:left;}

.ftdiv2-1{color:#999;}

.ftdiv2-2{margin-top:5px;width:100px;height:100px;background:url(../images/erweima.png);background-size:contain;}

.ftdiv3-1{margin-right:30px;margin-top:20px;font-size:14px;float:left;}

.ftdiv3-2{float:right;margin-top:20px;font-size:14px;color:#999;}


         .animateda {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
       }
       .articlea {
       	animation-name:articlea;
       	-webkit-animation-name:articlea;
       }
       @-webkit-keyframes articlea{
       	0%{
       	margin-top:180px;
       	opacity:0;
       	}
       	100%{
       	margin-top:230px;
       	opacity:1;
       	}
	
        }
        
        .donghuaa {
        	animation-name:donghuaa;
        	-webkit-animation-name:donghuaa;
        }
        @-webkit-keyframes donghuaa{
        	0%{
        	margin-top:80px;
        	opacity:0;
        	}
        	100%{
        	margin-top:30px;
        	opacity:1;
        	}
        
}


@media screen and (min-width:660px) and (max-width:1024px){

	header{height: 500px;}
    nav{width: 60%;}
    nav li{list-style: none;float: left;margin-left: 2%;margin-top:54px;}
    #menu{width:100%;right: -30%;}
    .logo{width:148px;height:60px;margin:40px 0px;margin-left: -120px;}
    .gg{font-size: 20px;}
    .sp{font-size: 31px;}
    main{margin:0px auto;width:100%;height:320px;}
    .article1{position:absolute;font-size:14px;margin-top:110px;line-height:30px;margin-left:12%;z-index:20;}
    main article span{font-size:18px;color:#000;}
    .dh1{background-size:cover;position:absolute;margin-top:30px;width:306px;height:286px;margin-left:50%;z-index:10;}
    .article2{position:absolute;font-size:14px;margin-top:110px;line-height:30px;z-index:20;}
    .dh2{background-size:cover;position:absolute;margin-top:30px;width:306px;height:286px;margin-left:5%;z-index:10;}
    .article3{position:absolute;font-size:14px;margin-top:110px;line-height:30px;margin-left:12%;z-index:20;}
    .dh3{position:absolute;margin-top:30px;width:306px;height:286px;margin-left:50%;z-index:10;}
    .article4{position:absolute;font-size:14px;margin-top:110px;line-height:30px;z-index:20;}
    .dh4{position:absolute;margin-top:30px;width:306px;height:286px;margin-left:5%;z-index:10;}
    .article5{position:absolute;font-size:14px;margin-top:110px;line-height:30px;margin-left:12%;z-index:20;}
    .dh5{position:absolute;margin-top:30px;width:306px;height:286px;margin-left:50%;z-index:10;}
    footer{height:265px;}
    
    footer section{width:100%;height:100px;margin:10px auto;}
    
    .ftdiv1{margin-top:30px;margin-left:10%;width:300px;}
    
    .ftdiv2{width:36%;}
    
    .ftdiv3{margin-top:27px;height:0px;}
    
    .ftdiv1-a{margin-top:5px;margin-right:0px;}
    
    .ftdiv1-b{margin-top:5px;margin-right:0px;}
    
    .ftdiv1-1-1{margin-top:0px;}
    
    .ftdiv1-1-2{font-size:13px;line-height:18px;}
    
    .ftdiv1-2-1{margin-top:0px;}
    
    .ftdiv1-2-2{font-size:13px;line-height:18px;}
    
    .ftdiv1-3-1{margin-top:0px;}
    
    .ftdiv1-3-2{font-size:13px;line-height:18px;}
    
    .ftdiv1-4-1{margin-top:2px;}
    
    .ftdiv1-4-2{font-size:13px;line-height:18px;}
    
    .ftdiv3-1{margin-left:4%;margin-right:0px;margin-top:10px;font-size:12px;}
    
    .ftdiv3-2{margin-top:10px;margin-right:2%;font-size:12px;}


        .animateda {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
       }
       .articlea {
       	animation-name:articlea;
       	-webkit-animation-name:articlea;
       }
       @-webkit-keyframes articlea{
       	0%{
       	margin-top:80px;
       	opacity:0;
       	}
       	100%{
       	margin-top:100px;
       	opacity:1;
       	}
	
        }
        
        .donghuaa {
        	animation-name:donghuaa;
        	-webkit-animation-name:donghuaa;
        }
        @-webkit-keyframes donghuaa{
        	0%{
        	margin-top:80px;
        	opacity:0;
        	}
        	100%{
        	margin-top:30px;
        	opacity:1;
        	}
        
}	
}



    @media screen and (max-width:659px){

    header{height:400px;}
    /*nav{width: 60%;height: 90px;}
    nav li{list-style: none;float: left;margin-left: 2%;margin-top:54px;}*/
    #menu{display: none;}
    .logo{width:176px;height:72px;margin:20px 0px;margin-left: -80px;}
    .hide{display: block;}
    .hide ul li{float: none;margin: 0;padding: 0;}
    .gg{margin:100px auto;line-height:40px;letter-spacing:3px;font-size:16px;}
    .sp{font-size: 24px;}
    .greenX{margin:-70px auto;width:40px;height:3px;background:#3C6;}
    main{margin:0px auto;width:90%;height:700px;clear: both;}
    .article1{float:none;clear:both;font-size:14px;text-align:center;line-height:30px;margin:30px auto;}
    .greenX1{margin:10px auto;}
    main article span{font-size:18px;color:#000;}
    .dh1{background:url(../images/1-1.jpg);background-size:contain;float:none;clear:both;margin:0px auto;width:100%;height:100%;background-repeat:no-repeat;}
    .article2{float:none;clear:both;font-size:14px;text-align:center;line-height:30px;margin:30px auto;position: relative;left: 1%;} 
    .dh2{background:url(../images/2.jpg);float:none;clear:both;margin:0px auto;width:100%;height:100%;background-repeat:no-repeat;background-size:contain;}
    .greenX2{margin:10px auto;}
    .article3{float:none;clear:both;font-size:14px;text-align:center;line-height:30px;margin:30px auto;}
    .dh3{float:none;clear:both;margin:0px auto;width:100%;height:100%;background-repeat:no-repeat;background-size:contain;}
    .greenX3{margin:10px auto;}
    .article4{float:none;clear:both;font-size:14px;text-align:center;line-height:30px;margin:30px auto;position: relative;left: 1%;}
    .dh4{float:none;clear:both;margin:0px auto;width:100%;height:100%;background-repeat:no-repeat;background-size:contain;}
    .greenX4{margin:10px auto;}
    .article5{float:none;clear:both;font-size:14px;text-align:center;line-height:30px;margin:30px auto;}
    .dh5{float:none;clear:both;margin:0px auto;width:100%;height:100%;background-repeat:no-repeat;background-size:contain;}
    .greenX5{margin:10px auto;}
    footer{	height:430px;}

    footer section{height:auto;width:100%;}
    
    .ftdiv1{float:none;clear:both;margin:0px auto;padding:15px;width:210px;height:190px;border-bottom:#434343 1px solid ;}
    
    .ftdiv2{margin:15px auto;width:36%;height:auto;float:none;clear:both;border-left:#434343 0px solid ;border-right:#434343 0px solid ;}
    
    .ftdiv3{margin-top:15px;}
    
    .ftdiv1-a{margin-top:5px;margin-right:0px;}
    
    .ftdiv1-b{margin-top:5px;margin-right:0px;}
    
    .ftdiv1-1-1{margin-top:0px;}
    
    .ftdiv1-1-2{width:auto;font-size:13px;line-height:18px;}
    
    .ftdiv1-2-1{margin-top:0px;}
    
    .ftdiv1-2-2{width:auto;font-size:13px;line-height:18px;}
    
    .ftdiv1-3-1{margin-top:0px;}
    
    .ftdiv1-3-2{width:auto;font-size:13px;line-height:18px;}
    
    .ftdiv1-4-1{margin-top:2px;}
    
    .ftdiv1-4-2{width:auto;font-size:13px;line-height:18px;}
    
    .ftdiv3-1{margin-left:5%;margin-right:0px;margin-top:10px;font-size:12px;}
    
    .ftdiv3-2{margin-left:5%;margin-right:0px;margin-top:10px;font-size:12px;float:left;}


            .animateda {
		animation-duration:1s;
		-webkit-animation-duration:1s;
		-webkit-animation-fill-mode:both;
		animation-fill-mode: both;
       }
       .articlea {
       	animation-name:articlea;
       	-webkit-animation-name:articlea;
       }
       @-webkit-keyframes articlea{
       	0%{
       	margin-top:180px;
       	opacity:0;
       	}
       	100%{
       	margin-top:130px;
       	opacity:1;
       	}
	
        }
        
        .donghuaa {
        	animation-name:donghuaa;
        	-webkit-animation-name:donghuaa;
        }
        @-webkit-keyframes donghuaa{
        	0%{
        	margin-top:80px;
        	opacity:0;
        	}
        	100%{
        	margin-top:30px;
        	opacity:1;
        	}
        
}

    }


